<!DOCTYPE html>
<html lang="en">

<head>
<title>GrumpyShop</title>
</head>

<body>

    <div class="container">

        <header class="jumbotron hero-spacer jumbo-home">
            
            <%= link_to (image_tag "GrumpyShop.png", :class => "big-image"), categories_path%>
        <p><%= link_to'Shop Now', categories_path, class:"btn btn-primary btn-large links"%></p>
        </header>
        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Dedicated to the worlds grumpiest cat: Grumpy Cat!</h3>
            </div>
        </div>
        <hr>

        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="http://www.grumpycats.com/">
                <div class="thumbnail">
                    <%= image_tag "romp.jpg", :class => "img-circle pictures links spin"%>
                    <div class="caption">
                        <i class="fa fa-laptop fa-5x"></i>
                        <p>Visit the website of Grumpy Cat.</p>
                        <p>
                            <a href="http://www.grumpycats.com/" class="btn btn-primary links">Go Now...</a> 
                        </p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="https://www.facebook.com/TheOfficialGrumpyCat">
                <div class="thumbnail">
                    <%= image_tag "catsintree.jpg", :class => "img-circle pictures links spin"%>
                    <div class="caption">
                        <i class="fa fa-facebook-square fa-5x"></i>
                        <p>Follow the worlds most influential cat!</p>
                        <p>
                            <a href="https://www.facebook.com/TheOfficialGrumpyCat" class="btn btn-primary links">Go Now!</a>
                        </p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="https://twitter.com/realgrumpycat">
                <div class="thumbnail">
                    <%= image_tag "railway.jpg", :class => "img-circle pictures links spin"%>
                    <div class="caption">
                        <i class="fa fa-twitter-square fa-5x"></i>
                        <p>See Grumpy's words of wisdom.</p>
                        <p>
                            <a href="https://twitter.com/realgrumpycat" class="btn btn-primary links">Go Now...</a>
                        </p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="https://www.youtube.com/channel/UCTzVrd9ExsI3Zgnlh3_btLg">
                <div class="thumbnail">
                    <%= image_tag "studio.jpg", :class => "img-circle pictures links spin"%>
                    <div class="caption">
                        <i class="fa fa-youtube-square fa-5x"></i>
                        <p>Watch lots of Grumpy videos!</p>
                        <p>
                            <a href="https://www.youtube.com/channel/UCTzVrd9ExsI3Zgnlh3_btLg" class="btn btn-primary links">Go Now...</a>
                        </p>
                    </div>
                </div>
                </a>
            </div>

        </div>
        <hr>
</body>
</html>
