<!DOCTYPE html>
<html lang="en">

<head>
<title>Qwertyshop</title>

</head>

<body>
<div class="container">



        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">

        <div class="create">
          <div class="container">

          <%= form_for(@product) do |f| %>
            <div class="field">
              <%= f.label :category %><br>
              <%= collection_select(:product, :category_id, Category.all, :id, :name, prompt: true) %>
            </div>
            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_area :name %>
            </div>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= f.label :price %><br>
              <%= f.text_field :price, :class => 'price', :value => (number_with_precision(f.object.price, :precision => 2 || 0)) %>
              <!--Change number_field to text_field when using number_with_precision-->
            <div class="field">
              <%= f.label :image_url %><br>
              <%= f.url_field :image_url %>
            </div>
            <div class="field">
              <%= f.label :image %><br>
              <%= f.file_field :image %>
            </div><br>
            <div class="actions">
              <%= f.submit "Update" %>
            </div>
          <% end %>
          </div>
        </div>
            </div><br>
        </div>
        <!-- /.row -->


        <!-- /.row -->
        <hr>
</body>
</html>
